@charset "UTF-8";
*{
	list-style:none;
}

/* 검정 인트로 css 시작*/
.intro_bg{
	background:black;
	height:575px;
	width:100%;
	border-radius: 0px 0px 80px 80px / 0px 0px 80px 80px;
	margin:auto;
}

.intro_text{
	width:100%;
	margin:231px auto 231px auto;
	text-align:left;
	color:#fff;
	background:black;
	margin:auto;
	padding-top:230px;
	padding-left:50px;
}	

.intro_text > h1{
	font-family: 'Black Han Sans', sans-serif;
	font-size:70px;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

h4 {
	font-family: 'NanumSquare';
}

/* 흰색 의미 없는 바 css 시작 */
.amount{
	position:relative;
	top:-44px; /*이거 높이 조정 되는지 확인해야함 */
	display:flex;
	width:1280px;
	background:#fff;
	margin:auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	margin:auto;
}

.amount > li {
	flex:1;
	height:132px;
	list-style:none;
	}

.amount > li > div{
	text-align:center;
	margin-top:37px;
	height:57px;
}
.amount > li:not(:last-child) div{
	border-right:1px solid #fff;
}

.contents1 {
	font-family: 'NanumSquare';
	font-size:20px;
}

.result{
	font-size:24px;
	font-family: 'NanumSquarelight';
}

/*main css 시작*/
.main {
/* 	position:fixed;
 */	z-index:180;
}

.main_text0{
	width:100%;
	height:240px; /* classlist 본문 길이 */
	margin-top:-102px;
	background:#fff;
}

.main_text0 > h1{
	padding-top:116px;
	text-align:center;
	font-family:'NanumSquare';
}

.main_text0 > .contents1 {
	text-align:center;
}

/*상위 의미없는 div로 묶어서 가로 정렬 시작*/
.main_section {
	display:flex;
}

	
/* 필터링 메뉴바 css 시작 */	
.filter {
	font-family:'NanumSquare';
}

/* 검색창 css 시작*/
.menu {
	/* width:170px; */
	height:auto;
	position:stikcy;
	top:35px; left:35px;
	margin-left:24px;
	flex:10%;
}

.searchArea{
	width:190px;
	height:40px;
	background:rgba(0,0,0,0.2);
	border-radius:5px;
	margin-top:24px;
}
/*position:sticky - 스크롤이 해당 포지션이 걸려 있는 div에 닿으면 고정이 되는 css임.
높이값이 정해져있는 부모 요소 안에 넣으면 부모 요소의 높이만큼만 fix됌*/

.searchArea > form > input{
	border:none;
	width:140px;
	height:40px;
	background:rgba(0,0,0,0.2);
	color:#fff;
	padding-left:10px;
}

.searchArea > form > span{
	display:inline-block;
	width:42px;
	background:#eee;
	color:#000;
	font-family: 'NanumSquare';
	font-weight: bold;
	font-size:12px;
	cursor:pointer;
	text-align:center;
}


/* 좌측 카테고리 바 css시작 */
.category{
	width:190px;
	overflow:hidden;
	margin:10px auto;
	padding-left:0px;
	font:#fff;
}

.category > li {
	width:100%;
	text-align:center;
	line-height:40px;
	background-color:#9400D3;
	transition: all .5s;
	list-style:none;
    margin:0px; padding:0px; /*점, 들여쓰기 제거*/
	/*transition(애니메이션 속도 조절)은 효과가 필요한 대상에 직접 줘야함*/
}
.cate{
	font-family: 'NanumSquare';
	font:#fff;
	font-size:12px;
	border:none;
	background-color:transparent;
}

.category a {
	color:#fff;
	display:inline-block;
	width:100%;
}

.subcate > li{
	line-height:40px; /* 서브카테고리 세로 간격 */
	background-color:#B750EA;
	font-family: 'NanumSquare';
	font-size:12px;
	list-style:none;
}

.subcate {
	height:0; /* ul의 높이를 안보이게 처리  */
	overflow:hidden;
	transform : all 1s;
	padding-left:0px; /*subcate 글자 들여쓰기 제거*/
}

.category > li:hover {
	background-color:#B750EA;
	font-color:black;
	/* transition-duration:0.5s; */
}

.category > li:hover .subcate {
	height:120px; /* 서브메뉴 li 한개의 높이 40*3 */
	/* transition-duration:1s; */
}


/*클래스 목록 css 시작*/
.classlist{
	border-collapse:separate !important;
	font-family:'NanumSquarebold';
/* 	margin-top:-25vh;
 */	flex:100%;
	position:relative;
	/*position:stikcy를 쓰면 menu영역 높이가 인식되어서 공백이 생기기때문에 classlist의 margin-top값을 빼서 공백을 줄여줌*/
}

/* 클래스 등록하기 css 시작 */
.create {
	width:100%;
	height:400px;	
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
	url("main2_1.png");
	object-fit: cover;
	font-family:'NanumSquarelignt';
}

.create > ul{
	display :flex;
	padding-top:138px;
}

.create > ul > li {
	flex: 1;
	text-align:center;
	list-style:none;
}

.create > ul > li > div > h1,
.create > ul > li > div {
	color:#fff;
	font-family:'NanumSquare';
}

/* .more2 {
	width:220px;
	height:40px;
	border:1px solid #fff;
	line-height: 40px;
	cursor: pointer;
	margin: 16px auto;
	font-family:'NanumSquare';
} */

.more2 {
        width:200px; 
        height:40px; 
        line-height:40px; 
        border:1px solid #fff;
        margin:16px auto; 
        text-align:center; 
        cursor: pointer;  
		font-family:'NanumSquare';
        color:#fff; 
        transition:all 0.9s, color 0.3;  
}


/*footer css 시작*/
footer {
	display:flex;
	background:#1f1f1f;
	padding:30px;
	vertical-align: middle;
}

footer .container {
	width:880px;
	height:170px;
	vertical-align: middle;
}

.f_top{margin-bottom:5px;}
.f_top > ul{display:flex;}
.f_nav .depth1 .tit {
	padding:0 110px 20px 0;
	font-weight:500;
	font-size:16px;
	color:#fff;
	letter-spacing: -0.4px;
	font-family:'NanumSquarebold';
}

.f_nav .depth2{
	padding-left:0; 
	marign:0px;
}


.f_nav .depth2 li {
	margin-bottom:10px;
	line-height:20px;
	font-size:12px;
	color:inherit #fff;
	letter-spacing: -0.35px;
	padding-left:0; 
	marign:0px;
}

.f_nav .depth2 li:last-child{
	margin-bottom:0;
	color:#fff;
}

.container2 {display:flex}
	

.container2 .f_info{
	width: calc(100% - 100px); 
	margin-right: 29px;
	font-family: 'NanumSquarelight';
	vertical-align: middle;
	}

.container2 .f_info p{
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 18px;
	color: #5a5a5a ;
	letter-spacing: -0.3px;
	}
	
.container2 .f_info p:last-child{
	margin-bottom: 0; margin-top: 20px;
	}

