.inner {
  max-width: 1000px;
  margin: 0 auto;
}

.com_tit01 {
  font-family: 'NotoB';
  font-size: 32px;
  color: #222;
  text-align: center;
}

.com_txt01 {
  max-width: 70%;
  margin: 0 auto;
  font-family: 'NotoR';
  font-size: 28px;
  color: #555;
  text-align: center;
  text-decoration: none;
}



/* main */
/*
.spaceMan_logo {
  position: fixed;
  left: 20px;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}

.spaceMan_logo .path1{
  fill: none;
  stroke: #f2f2f2;
  stroke-width: 2px;
  stroke-dasharray: 6884;
  animation: drawPath1 1s linear
  floating 1.5s linear infinite;
}

@keyframes drawPath1 {
  0% {
    stroke-dashoffset: 6884;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
*/

.sec_mainvis {
  overflow: hidden;
  height: 100vh;
}

.sec_mainvis .main_visual {}

.sec_mainvis .main_visual:after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background: rgba(0, 0, 0, 0);
  transition: background .5s .1s;
}

.sec_mainvis.active .main_visual:after {
  background: rgba(0, 0, 0, 1);
  transition-delay: 0s;
}

.sec_mainvis .main_visual .tit {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 60px;
  line-height: 1.3;
  color: #fff;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.sec_mainvis .main_visual .video_fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%
}

.sec_mainvis .main_visual .video_fixed video {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 1920px;
  min-height: 1080px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moztransform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.sec_list_overlap {
  overflow: hidden;
  height: 120vh;
  padding-top: 90px;
  background-image: url('../images/space_blur.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}

.sec_list_overlap .list_overlap .com_tit01 {
  color: #fff;
}

.sec_list_overlap .list_overlap .com_txt01 {
  color: #fff;
}

.sec_list_overlap .list_overlap .list {
  position: relative;
  margin-top: 50px;
  z-index: 130;
}

.sec_list_overlap .list_overlap .list:after {
  clear: both;
  display: block;
  content: '';
}

.sec_list_overlap .list_overlap .list li {
  position: relative;
  float: left;
  width: 50%;
  box-sizing: border-box;
}


.sec_list_overlap .list_overlap .list li .img_box {
  opacity: 0;
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transition: opacity .5s, transform .5s;
  border-radius: 10px;
}

.sec_list_overlap.active .list_overlap .list li .img_box {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
  -ms-transform: translateY(0px);
}

.sec_list_overlap.active .list_overlap .list li:first-child .img_box {
  transition-delay: .3s;
}

.sec_list_overlap.active .list_overlap .list li:first-child .img_box.last {
  transition-delay: .6s;
}

.sec_list_overlap.active .list_overlap .list li:last-child .img_box {
  transition-delay: .8s;
}

.sec_list_overlap .list_overlap .list li .img_box {
  overflow: hidden;
}

.sec_list_overlap .list_overlap .list li .img_box img {
  transition: transform .5s ease;
}

.sec_list_overlap .list_overlap .list li .img_box:hover img {
  transform: scale(1.2) rotate(-0.01deg);
  -webkit-transform: scale(1.2) rotate(-0.01deg);
  -moz-transform: scale(1.2) rotate(-0.01deg);
  -o-transform: scale(1.2) rotate(-0.01deg);
  -ms-transform: scale(1.2) rotate(-0.01deg);
}

.sec_list_overlap .list_overlap .list li:first-child {
  left: -10px;
  top: 20px;
}

.sec_list_overlap .list_overlap .list li:first-child .img_box.last {
  margin-top: 20px;
}

.sec_list_overlap .list_overlap .list li:last-child {
  left: 20px;
}



@media only screen and (max-width: 1440px) {
  .inner {
    max-width: 800px;
  }
}