
/* svg */
.svg_wrap {
  position: fixed;
  left: 40%;
  top: 55%;
  z-index: 30;
  width: 1500px;
  height: 800px;
  transform: translate(-50%, -50%);
}

.svg_wrap #svgMotion {
  width: 100%;
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 4
}

/* video */
.video_wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 100%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity .5s;
}

.video_wrap video {
  width: 100%;
}