
.fix_tit {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 200;
  font-family: 'NotoB';
  font-size: 180px;
  line-height: 1;
  color: #000;
  transform: translate(-50%, -50%);
  opacity: .4;
}

.fix_tit span {
  position: absolute;
  right: 0;
  top: -30px;
  font-size: 30px;
  font-family: 'NotoM';
  border-bottom: 3px solid rgba(000, 000, 000, .6);
}

/* svg */
.svg_wrap {
  position: fixed;
  left: 90%;
  top: 60%;
  z-index: 30;
  width: 1500px;
  height: 800px;
  transform: translate(-50%, -50%);
}

.svg_wrap #svgMotion {
  width: 100%;
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 4
}

/* video */
.video_wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 100;
  width: 1920px;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity .5s;
}

.video_wrap video {
  width: 100%;
}