.txtImgSection {
  position: relative;
  overflow: hidden;
}

.inner {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.com_tit01 {
  font-family: 'NotoB';
  font-size: 60px;
  color: #fff;
  text-align: center;
}

.com_txt01 {
  max-width: 70%;
  margin: 0 auto;
  font-family: 'NotoR';
  font-size: 24px;
  color: #fff;
  text-align: center;
  ;
}

.tb_row {
  display: table;
  width: 100%;
  height: 100%;
}

.tb_row .tb_cell {
  display: table-cell;
  vertical-align: middle;
}


.section_product .prd_mask {}

.section_product .prd_mask .tit_wrap {
  padding: 120px 0 80px 0;
}

.section_product .prd_mask .img_list {
  width: 60%;
  margin: 0 auto;
}

.section_product .prd_mask .img_list:after {
  clear: both;
  display: block;
  content: '';
}

.section_product .prd_mask .img_list li {
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: calc(50% - 40px);
  padding-right: 20px;
  margin-bottom: 20px;
}

.section_product .prd_mask .img_list li:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  transition: 2.5s;
}

.section_product .prd_mask.active .img_list li:after {
  width: 0%;
}

.section_product .prd_mask .img_list li:nth-child(even) {
  top: -20px;
}

.section_product .prd_mask .img_list li:nth-child(even):after {
  right: auto;
  left: 0;
}

.section_product .prd_mask .img_list li .img_content {
  font-size: 0;
  transform: translateX(-101%);
  -webkit-transform: translateX(-101%);
  -moz-transform: translateX(-101%);
  -o-transform: translateX(-101%);
  -ms-transform: translateX(-101%);
  transition: 1.2s .5s;
}

.section_product .prd_mask.active .img_list li .img_content {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
}

.section_product .prd_mask .img_list li .img_content img {
  width: 100%;
}

.section_product .text_img {
  padding-top: 150px;
  padding-bottom: 100px;
  text-align: center;
  font-size: 0;
}

.section_product .text_img .text_area {
  display: inline-block;
  width: 60%;
  padding: 0 50px;
  color: #fff;
  font-size: 40px;
  vertical-align: middle;
  text-align: right;
  box-sizing: border-box;
  opacity: 0;
  transform: translateX(-150px);
  -webkit-transform: translateX(-150px);
  -moz-transform: translateX(-150px);
  -o-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  transition: 1s;
}

.section_product .text_img.active .text_area {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
}

.section_product .text_img .text_area h3 {
  font-family: 'NotoB';
  font-size: 64px;
}

.section_product .text_img .text_area p {
  font-family: 'NotoR';
  font-size: 24px;
}

.section_product .text_img .img_area {
  position: relative;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.section_product .text_img .img_area:after {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  transition: 2s .5s cubic-bezier(0.31, 0.85, 0.31, 1.06);
}

.section_product .text_img.active .img_area:after {
  height: 0px;
}
