.scheduleOverflow{
	/* overflow: scroll;  */
	width: 20px;
	height: 20px;
}

section{
	text-align: center;
}

.Pname{
	width: 200px;
	height: 5px;
	text-decoration: none;
	color: black;
}

.title{
	border: 700px;
}

section a{
	text-decoration: none;
	color: white;
} 

aside {
  width: 150px;
}
.side_bar {
  margin: 0 20px;
  margin-top: 108px;
  padding: 10px;
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  gap: 20px;
  border-radius: 15%;
  position: fixed;
}

.side_bar > p {
  color: white;
  font-size: 18px;
  text-decoration: none;
}
.side_bar :hover  {
  text-decoration: underline;
  color: white;
} 
main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  position: relative;
  padding: 20px 200px;
  width: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}