.scheduleOverflow{
	/* overflow: scroll;  */
	width: 20px;
	height: 20px;
}

section{
	text-align: center;
}

.Pname{
	width: 200px;
	height: 5px;
	text-decoration: none;
	color: black;
}

.title{
	border: 700px;
