.scheduleOverflow{
	overflow: scroll; 
	width: 5px;
	height: 5px;
}

section{
	text-align: center;
}

.Pname{
	width: 200px;
	height: 5px;
	text-decoration: none;
	color: black;
}

.Pschedule{
	width: 20px;
	height: 5px;
}

.Pprice{
	width: 20px;
	height: 5px;
}

.Pdate{
	width: 20px;
	height: 5px;
}
.title{
	border: 700px;
}