@charset "UTF-8";
/* .faq {
	background: #8041D9;
	color: #FFFFFF;
	} */
	#faq_block{
	position: relative;
	width: 30%;
	height: 200px;
	}
	
	#faq_flexbox{
	display: flex; 
	position:resize; 
	width: 1500px; 
	height: 340px; 
	margin: auto;
	padding-right: 500px;
	}
	
	.faq_flex{
	text-align: center;
	position: relative; 
	left: 10%; 
	right:auto; 
	width: 400px; 
	}
	
	
	#faq_title1{
	font-family: 'Urbanist', sans-serif; 
	font-size: 230px; 
	color: black; 
	line-height: 180px;
	}
	
	#faq_title2{
	font-family: 'Nanum Gothic', sans-serif; 
	font-size: 35px;
	}
	
	
	
	#accordionFlushExample{
	border: 3px solid #c4c4c4; 
	border-radius: 5px;
	}
	
	.accordion-button collapsed{
	background: rgb(250, 248, 247); 
	color: black;
	}
	
	.faq_A{
	display: none;
	}
	
	table {
    margin-left:auto; 
    margin-right:auto;
    width: 600px;
 	border-radius: 10px;	
 } 
	
	 body {
  text-align: center; 
	}
	
/*footer css 시작*/
footer {
	display:flex;
	background:#1f1f1f;
	padding:30px;
	vertical-align: middle;
	list-style:none;
}

footer .container {
	width:880px;
	height:170px;
	vertical-align: middle;
}

.f_top{margin-bottom:5px;}
.f_top > ul{display:flex;}
.f_nav .depth1 .tit {
	padding:0 110px 20px 0;
	font-weight:500;
	font-size:16px;
	color:#fff;
	letter-spacing: -0.4px;
	font-family:'NanumSquarebold';
}

.f_nav .depth2{
	padding-left:0 !important;
	marign:0px !important;
	list-style:none;
	text-align: left;
}


.f_nav .depth2 li {
	margin-bottom:10px;
	line-height:20px;
	font-size:12px;
	color:inherit #fff;
	letter-spacing: -0.35px;
	list-style:none;
}

.f_nav .depth2 li:last-child{
	margin-bottom:0;
	color:#fff;
	list-style:none;
}

.container2 {display:flex}
	

.container2 .f_info{
	width: calc(100% - 100px); 
	margin-right: 29px;
	font-family: 'NanumSquarelight';
	text-align: left;
	}

.container2 .f_info p{
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 18px;
	color: #5a5a5a ;
	letter-spacing: -0.3px;
	}
	
.container2 .f_info p:last-child{
	margin-bottom: 0; margin-top: 20px;
	}
	