@charset "UTF-8";

	.intro_header{
		background:black;
		height:500px;
		width:100%;
		border-radius: 0px 0px 80px 80px / 0px 0px 80px 80px;
		margin:auto;
	}
	
	
	.intro_text{
		width:100%;
		margin:231px auto 231px auto;
		text-align:left;
		color:#fff;
		background:black;
		margin:auto;
		padding-top:180px;
		padding-left:150px;
	}	
	
	.intro_text > h1{
	font-family: 'Secular One', sans-serif;
	font-size:120px;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
	}
	
	h4 {
		font-family: 'NanumSquare';
	}
		

	#notice_body{
	text-align: center;

	}
	
	#notice_title{
	font-size: 80px;   
	font-family: 'Secular One', sans-serif; 
	color: black; 
	padding-top: 66px;
	}
	
	
	#notice_table1{
	border: 2px solid #c4c4c4;
	border-radius: 30px;
	width: 900px;
	height: 270px;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 16px;
	margin: auto;
	}

    #tr1{
    height: 40px;
    color: #000000; 
    background: rgb(250, 248, 247);
    border: 2px solid #c4c4c4;
    box-shadow: 0px 2px 3px 0px  #a0a6af;
    font-weight: 700;
    font-size: 22px;
    
    
    }
    
    #td2{
    width: 400px;
    
    }
    #td3{
    width: 300px;
    }
    
    #a1 {
    color: #000000; 
    text-decoration: none;
    } 
    
    #notice_table2{
    width: 	900px;	
    margin: auto;
    }
    
    #notice_perage1{
    font-size: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    }
    
	#notice_btn{
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	color: #000000; 	
    border-radius: 15px;
    float: right;
     
	}
	
	